<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%- if page.title -%}
      <title>{{ page.title }} - {{ config.title }}</title>
    {%- else -%}
      <title>{{ config.title }}</title>
    {%- endif -%}
    <!-- <meta name="theme-color" content="blue"> -->
    {%- if page.description -%}
      <meta name="description" content="{{ page.description }}">
    {%- else -%}
      <meta name="description" content="{{ config.description }}">
    {%- endif -%}

    <link rel="canonical" href="{{ current_url | safe }}">
    <!-- <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ get_url(path="rss.xml", trailing_slash=false) | safe }}"> -->

    <link rel="shortcut icon" href="/favicon.ico">

    <style>{{ load_data(path="public/index.css") | trim | safe }}</style>
  </head>
  <body>
    <div class="container">
      <header class="home-header">
        <h1>
        <a href="/">
          <span class=header-text>felixwrt.dev_</span>
        </a>
        </h1>
        <p class="links">
          <!-- <a href="https://twitter.com/felixwrt">twitter</a> -->
          <a href="https://github.com/felixwrt">github</a>
        </p>
      </header>
      {% block main %}{% endblock %}
    </div>
  </body>
</html>
