{% extends "base.html" %}

{%- block main -%}
  {{ section.content | safe -}}

  {%- set posts_section = get_section(path ="posts/_index.md") -%}
  {%- set posts = posts_section.pages -%}
  {%- for post in posts -%}
    <div class="post-header">
      <p class="date">{{ post.date | date(format="%Y-%m-%d") }}</p>
      <a href="{{ post.permalink | safe }}">
        <h2>{{ post.title }}</h2>
      </a>
      {%- if post.description -%}
        <p class="subtitle">{{ post.description }}</p>
      {%- endif -%}
    </div>
  {%- endfor -%}
{% endblock %}
